
.grid-item {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  min-width: 95%;
  min-height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-bottom: 10vh;
}

.snap {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  border-radius: 8px;
  min-width: 100%;
  min-height: 220px;
}

.tonic {
  min-width: 100%;
  max-height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 0;
}

.multi {
  min-width: 100%;
  min-height: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  line-height: 44px;
  color: #172b4d;
}

.container {
  display: flex;
  gap: 2.5rem;
  max-height: 18px;
  min-width: 100%;
  align-items: baseline;
}

.canopy {
  display: flex;
  max-width: 55px;
  max-height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-bottom: 0;
}

.details {
  display: flex;
  align-items: baseline;
}

.details p {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
}

.details img {
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.content {
  min-width: 100%;
  min-height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 0;
}

.link {
  display: flex;
  float: left;
  align-content: flex-start;
  padding:0;
  min-width: 100%;
  max-height: 10px;
  text-decoration: none;
}

.link li {
  margin: 0 5px 12px 0;
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  padding: 0 10px;
  font-size: 18px;
  border-radius: 10px;
  color: #6070ff;
  cursor: pointer;
  list-style: none;
}

a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
  text-decoration: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: relative;
  max-width: 124px;
  min-height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.button a {
  max-width: 100px;
  min-height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
}

.button:hover {
  background-color: #6070ff;
  color: #fff;
}

.button a:hover {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }
  body {
    max-width: 90%;
    margin: auto;
    background-color: #e5e5e5;
  }
  .mobile-card {
    display: none;
  }
  .desktop-card { 
    display: contents;
}
.grid-item-desktop{
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  gap: 1rem;
  min-width: 100%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-bottom: 10vh;
}

.main-img {
  display: flex;
  min-width: 60%;
}

.snap-desktop{
  max-width: 100%;
  min-height: 220px;
}

.tonic-desktop {
  min-width: 100%;
  min-height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  display: flex;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 0;
}

.container-desktop {
  display: flex;
  gap: 1.5rem;
  max-height: 18px;
  min-width: 80%;
  align-items: baseline;
  margin-bottom: 2rem;
}

.canopy-desktop{
  display: flex;
  min-width: 55px;
  max-height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.details-desktop {
  display: flex;
  align-items: baseline;
}

.details-desktop p {
  color: #6b778c;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-size: 15px;
}

.details-desktop img {
  max-width: 8px;
  min-height: 8px;
  margin-right: 5px;
}
.content-desktop {
  display: flex;
  flex-shrink: 1;
  flex: 1;
}

.content-desktop p {
  flex-basis: 100%;
  min-height: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: regular;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.link-desktop {
  display: flex;
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
  text-decoration: none;
  gap: 0.6rem;
}

.link-desktop li {
  min-height: 24px;
  min-width : 6vh;
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  padding: 2px;
  font-size: 18px;
  border-radius: 8px;
  color: #6070ff;
  cursor: pointer;
  display: flex;
}

.link-desktop li a {
  font-family: 'Poppins', sans-serif;
  font-style: medium;
  font-size: 12px;
  color: #6070ff;
  text-decoration: none;
}

.button-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  max-width: 124px;
  min-height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.button-desktop a {
  max-width: 100px;
  min-height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
}

.button-desktop:hover {
  background-color: #6070ff;
  color: #fff;
}

.button-desktop a:hover {
  color: #fff;
}

}