#contact-button {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  top: 140px;
  width: 150px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #7f8cff;
  box-shadow: #7f8cff;
  border: none;
}

#contact-button:hover {
  box-shadow: 0 10px 10px -4px lightblue;
}

#contact-button:active {
  background-color: #2230d2;
  color: white;
}

#contact-button:disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
}

#contact-wrapper {
  background-image: url(/Images/contact\ form\ shapes-mobile@2x.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position-x: 120px;
  background-position-y: 12px;
  background-size: auto 757px;
  border-radius: 100px 0% 0% 0%;
  padding: 20px;
  height: 773px;
  position: relative;
  bottom: 15vh;
  flex-direction: column;
  margin: auto;
  margin-top: 10vh;
}

#contact-background {
  position: relative;
  left: 30%;
  height: 30vh;
}

form {
  order: 3;
  position: relative;
  bottom: 50px;
}

#contact p {
  position: relative;
  width: 327px;
  height: 102px;
  top: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

#contact h2 {
  position: relative;
  width: 100%;
  height: 56px;
  left: 5%;
  top: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  order: 1;
}

#contact input {
  position: relative;
  width: 90%;
  height: 48px;
  left: 0;
  right: 0;
  top: 100px;
  margin-top: 20px;
  bottom: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 10px;
  order: 3;
}

#contact textarea {
  position: relative;
  top: 120px;
  width: 90%;
  height: 190px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding-left: 10px;
}

.bottom {
  order: 4;
  position: relative;
  top: 20vh;
  left: 18vh;
}

@media only screen and (min-width: 768px) {
  #contact {
    position: relative;
    bottom: 20vh;
  }
  #form-wrapper {
    width: 80%;
    margin: auto;
    padding: 0;
    position: relative;
    bottom: 5vh;
  }
  #contact-wrapper {
    background: url("/Images/desktop/contact\ form\ background\ shapes@2x.png") no-repeat center center;
    background-color: #6070ff;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #contact h2 {
    order: 1;
    width: 60%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 20%;
  }

  #contact p {
    order: 2;
    margin: auto;
    width: 73%;
    position: relative;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }

  form {
    position: relative;
    bottom: 15vh;
    margin: auto;
    position: relative;
    left: 5vh;
    width: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: 3;
  }

  #contact textarea {
    order: 2;
  }

  #contact input {
    order: 1;
  }

  #contact button {
    display: flex;
    justify-content: center;
    order: 3;
    margin-left: 30%;
  }
  .bottom {
    display: none;
  }
}
