.header {
  display: flex;
  align-items: baseline;
  padding: 20px 20px 0 20px;
  margin-bottom: 0;
}

.logo {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.nav {
  position: relative;
  left: 28vh;
  width: 20%;
  height: 20%;
}

main {
  background-image: url(Images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  padding-top: 10vh;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: left;
  text-align: left;
}

p {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  align-items: center;
  text-align: left;
}

.contain {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

ul {
  display: flex;
  justify-content: start;
  list-style: none;
  position: relative;
  right: 32px;
  align-items: baseline;
}

ul li {
  margin-right: 20px;
  padding-bottom: 10vh;
}

#secondPage {
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snap {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  border-radius: 8px;
  width: 295px;
  height: 220px;
}

.tonic {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  line-height: 44px;
  color: #172b4d;
}
.multi{
  width: 295px;
  height: 70px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  line-height: 44px;
  color: #172b4d;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 12px;
  height: 32px;
  width: 80%;
  align-items: baseline;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  position: relative;
  right: 38px;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.details {
  display: flex;
  align-items: baseline;
  position: relative;
  right: 50px;
  padding-left: 30px;
}

.details img {
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.content {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.link a {
  background: #ebebff;
  border-radius: 8px;
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  position: relative;
  right: 18%;
  text-decoration: none;
  margin: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: relative;
  width: 124px;
  height: 48px;
  right: 30%;
  top: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.button a {
  width: 100px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
}

.about {
  margin-top: 40px;
}

.about-social li {
  margin-right: 20px;
}

.about-button {
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center; 
    padding: 10px;
    position: relative;
    bottom: 10vh;
    width: 150px;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

.about-button a {
  width: 100px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
}

.lang {
    display: flex;
    align-items: baseline;
    width: 90%;
}
.lang h3{
font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
position: relative;
bottom: 80px;
}
.lang img{
    width: 5%;
    height: 10%;
    margin-left: auto;
    position: relative;
bottom: 80px;
}

.basic {
 display: flex;
 flex-direction: column;
background: #F7F7F9;
border-radius: 8px;
align-items: baseline;
}

.basic li {
    height: 24px;
    top: calc(50% - 24px/2 - 0.36px);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: baseline;
    width:50%;
    color: #253858;
    
}

.basic li p {
    margin-left: auto;
    width: 100px;
    display: flex;
    justify-content: start;
    position: relative;
    bottom: 10px;
}
.lang-skills {
    display: flex;
    align-items: baseline;
    height: 1px;
    width: 90%;
    border-bottom: 1px solid #DFE1E6;
}
.lang-skills h3{
font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
position: relative;
bottom: 80px;
}
.lang-skills img{
    width: 5%;
    height: 10%;
    margin-left: auto;
    position: relative;
bottom: 80px;
}