.header {
  display: flex;
  align-items: baseline;
  padding: 20px 20px 0 20px;
  margin-bottom: 0;
}

.logo {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.nav {
  position: relative;
  left: 28vh;
  width: 20%;
  height: 20%;
}

main {
  background-image: url(Images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  padding-top: 10vh;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: left;
  text-align: left;
}

p {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  align-items: center;
  text-align: left;
}

.contain {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

ul {
  display: flex;
  justify-content: start;
  list-style: none;
  position: relative;
  right: 32px;
  align-items: baseline;
}

ul li {
  margin-right: 20px;
  padding-bottom: 10vh;
}

#secondPage {
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.snap {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  border-radius: 8px;
  width: 295px;
  height: 220px;
}

.tonic {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  line-height: 44px;
  color: #172b4d;
}

.multi {
  width: 295px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  line-height: 44px;
  color: #172b4d;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 25px;
  gap: 12px;
  height: 32px;
  width: 80%;
  align-items: baseline;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  position: relative;
  right: 38px;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.details {
  display: flex;
  align-items: baseline;
  position: relative;
  right: 50px;
  padding-left: 30px;
}

.details p {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
}

.details img {
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.content {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.link {
  background-color: #ebebff;
  border-radius: 8px;
  display: flex;
  width: 29px;
  height: 16px;
  position: relative;
  right: 50%;
  text-decoration: none;
}

a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  text-decoration: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: relative;
  width: 124px;
  height: 48px;
  right: 30%;
  top: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.button a {
  width: 100px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
}

.about-button a {
  width: 100px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
}

button:hover {
  background-color: #6070ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: relative;
  width: 124px;
  height: 48px;
  right: 30%;
  top: 0;
}

.contact-button {
  align-items: center;
  padding: 10px;
  position: relative;
  top: 140px;
  width: 150px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.contact-button a {
  width: 100px;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  text-decoration: none;
}

button a:hover {
  color: #fff;
}

.about {
  margin-top: 40px;
}

.about-social li {
  margin-right: 20px;
}

.about-button {
  align-items: center;
  padding: 10px;
  position: relative;
  bottom: 10vh;
  width: 150px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.lang {
  display: flex;
  align-items: baseline;
  width: 90%;
}

.lang h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  bottom: 80px;
}

.lang img {
  width: 5%;
  height: 10%;
  margin-left: auto;
  position: relative;
  bottom: 80px;
}

.basic {
  display: flex;
  flex-direction: column;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: baseline;
  position: relative;
  bottom: 70px;
}

.basic li {
  height: 10px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 5px;
  display: flex;
  align-items: baseline;
  width: 50%;
  color: #253858;
}

.contact p {
  position: relative;
  width: 327px;
  height: 102px;
  top: 60px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.lang-skills p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  bottom: 80px;
}

.basic li p {
  margin-left: auto;
  width: 100%;
  display: flex;
  justify-content: start;
  position: relative;
  bottom: 10px;
}

.lang-skills li {
  display: inline;
  align-items: baseline;
  width: 100%;
}

.lang-skills img {
  width: 10%;
  height: 10%;
  margin-left: auto;
  position: relative;
  bottom: 120px;
  left: 35vh;
}

.skills {
  position: relative;
  top: 10vh;
  right: 18vh;
}

.contact {
  background-image: url(Images/contact\ form\ shapes-mobile@2x.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position-x: 120px;
  background-position-y: 12px;
  background-size: auto 757px;
  border-radius: 100px 0% 0% 0%;
  padding: 20px;
  height: 779px;
  margin-top: 10px;
}

.contact-background {
  position: relative;
  left: 30%;
  height: 100vh;
}

.contact h2 {
  position: relative;
  width: 801px;
  height: 56px;
  left: 10%;
  top: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact input {
  position: relative;
  width: 100%;
  height: 48px;
  left: 0;
  right: 0;
  top: 100px;
  margin-top: 20px;
  bottom: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 10px;
}

.contact textarea {
  position: relative;
  top: 120px;
  width: 100%;
  height: 170px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding-left: 10px;
}

.shape {
  position: relative;
  bottom: 22vh;
  width: 327px;
  height: 1px;
  background: #dfe1e6;
  border-radius: 10px;
}

.shape-1 {
  position: relative;
  bottom: 13vh;
  width: 327px;
  height: 1px;
  background: #dfe1e6;
  border-radius: 10px;
}
